.spinner
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(images/spinner.gif) no-repeat center center;
    z-index: 99;
}

.NMMUHeaderImage
{
    float: right;
    display: inline;
    padding-top: 8px;
    padding-right: 10px;
}

.NMMUPhoneNumber
{
    display: none;
}

/*input
{
    -webkit-user-select: none;
}*/
