.spinner
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(images/spinner.gif) no-repeat center center;
    z-index: 99;
}

.AdvertImage {
    width:256px; 
    box-shadow: 5px 5px 2px #8d8787; 
    -webkit-border-radius: 0.3em; 
    -moz-border-radius: 0.3em; 
    border-radius: 0.3em;
}

.StudentImage { 
    width:78px;height:100px;
    box-shadow: 5px 5px 2px #8d8787; 
    -webkit-border-radius: 0.3em; 
    -moz-border-radius: 0.3em; 
    border-radius: 0.3em;
}

.NMMUHeaderImage
{
    float: right;
    display: inline;
    padding-top: 8px;
    padding-right: 10px;
}

.NMMUPhoneNumber
{
    display: none;
}

/*input
{
    -webkit-user-select: none;
}*/
